---
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
import { packages, addons } from "../../data/pricing.json.ts";

const plan = packages[0]; // Only one package for now
---

<section id="pricing" class="scroll-animation my-10 mx-auto max-w-6xl scroll-mt-10 px-4 py-8 md:py-12">
	<div class="text-center">
		<h2 class="col h2 text-pretty uppercase mt-8 mb-6">My Package</h2>
	</div>

	<div class="mx-auto mt-12 flex flex-col md:flex-row  w-full h-auto gap-12 ">
		<!-- 💼 Main Package -->
		<div class="w-full md:w-1/2 border-2 border-primary-200 shadow-2xl rounded-xl overflow-hidden bg-white">
			<div class="col aspect-video w-full overflow-hidden">
				<Image
					src={plan.image}
					alt={plan.name}
					width={600}
					densities={[1.5, 2]}
					class="object-cover w-full h-full"
				/>
			</div>
			<div class="p-6">
				<h3 class="col h2 text-center">{plan.name}</h3>
				<ul class="col mt-4 flex flex-col gap-2 text-sm text-base-800">
					{plan.features.map((feature) => (
						<li class="leading-snug lg:text-base">✅ {feature}</li>
					))}
				</ul>
				<p class="col font-decorative text-primary-700 mt-6 text-center text-4xl">${plan.price}</p>
			
			</div>
		</div>

		<!-- ➕ Add-ons (smaller sidebar) -->
		<div class="w-full md:w-1/2 bg-white p-5 md:p-10 rounded-xl shadow-2xl border border-[#FDE3D9]">
			<h2 class="col h2 font-semibold  mb-8 text-center"> Add-ons</h2>
			<ul class="text-sm  space-y-2">
				{addons.map((addon) => (
					<li class="col flex justify-between border-b border-dashed border-neutral-300 pb-2 md:pb-8">
						<p class="flex flex-col">
							<span class="lg:text-base">{addon.name}:</span>
							<span>{addon.description}</span>
							<span class="italic text:xs">{ addon.required ? "(required)": "(optional)"}</span>
						</p>
						
						<span>${addon.price}/{addon.recurring}</span>
					</li>
				))}
			</ul>
			<p class="mt-4 text-xs text-center italic text-neutral-500">
				Add flexibility and customization to your package.
			</p>
		</div>
	</div>


</section>
