---
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
import { packages, addons } from "../../data/pricing.json.ts";
---

<section id="pricing" class="scroll-animation my-10 mx-auto max-w-6xl scroll-mt-10 px-4 py-8 md:py-12">
	<div class="text-center">
		<h2 class="col  text-pretty uppercase mt-8 mb-6">Website Packages</h2>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">
		{packages.map((plan) => (
			<div class={`w-full border-2 ${plan.featured ? 'border-primary-500 bg-primary-50 shadow-xl' : 'border-primary-200 bg-white shadow-2xl'} rounded-xl overflow-hidden`}>
				<div class="col aspect-video w-full overflow-hidden">
					<Image
						src={plan.image}
						alt={plan.name}
						width={600}
						densities={[1.5, 2]}
						class="object-cover w-full h-full"
					/>
				</div>
				<div class="p-6">
					<h3 class="col h2 text-center">{plan.name}</h3>
					<ul class="col mt-4 flex flex-col gap-2 text-sm text-base-800">
						{plan.features.map((feature) => (
							<li class="leading-snug lg:text-base">✅ {feature}</li>
						))}
					</ul>
					<p class="col font-decorative text-primary-700 mt-6 text-center text-4xl">
						${plan.price}{plan.monthly ? ` + $${plan.monthly}/mo` : ""}
					</p>
					<p class="mt-4 text-center italic text-sm text-base-600">
  						Ideal for: {plan.ideal}
						</p>

				</div>
			</div>
		))}
	</div>

	<!-- Add-ons -->
	<div class="mt-16">
		<h2 class="col h2 mb-8 text-center">Additional Services</h2>
		<ul class="max-w-3xl mx-auto text-sm space-y-4">
			{addons.map((addon) => (
				<li class="col flex flex-col md:flex-row justify-between border-b border-dashed border-neutral-300 pb-4">
					<p class="flex flex-col">
						<span class="font-semibold text-base">{addon.name}</span>
						<span>{addon.description}</span>
						<span class="italic text-xs">{addon.required ? "(required)" : "(optional)"}</span>
					</p>
					<span class="mt-2 md:mt-0 font-medium text-right">${addon.price}{addon.recurring ? `/${addon.recurring}` : ""}</span>
				</li>
			))}
		</ul>
	</div>
</section>
